body {
	border-style: solid;
	Border-color: black;
	Border-width: 1px;
}
.wrapper {
	/* background-color: yellow; */
	max-width: 960px;
	margin: 0 auto;
	v
}

.wrapper:after{
	content: "";
	display: block;
	clear: both;
	border-style: solid;
	Border-color: black;
	Border-width: 1px;
}
}

img{
	float: left;
	margin: 50px;
}

/*
h1, h2, h3, p {
	padding-left: 20px;
}

*/

