
/* Used in the Header Div */
.head{
	background-color: grey;
	max-width: 960px;
	margin: auto;
	margin-bottom: 60px;
	font-family: "monoton", verdana;
	font-size: 2em;
	padding-left: 20px;

}

/* main wrapper of content */
.wrapper {
	background-color: #FFFDDD;
	margin: 0 auto;
	max-width: 960px;
	margin-bottom: 0;
}


/* cd image artwork */
.cdimage {
	float: left;
	background-color: silver;
	padding: 10px;
	
}


/* cd playlist */
.cddata{
float: left;
background-color: white;
font-family:  "BioRhyme", verdana;
padding-left: 70px;
}


/* prod description */
.desc {
	padding-right: 520px;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 3px;
	background-color: white;
	font-family: "verdana", arial; 
	font-size: 15px; 
	line-height: 30px;
}



/* applied to the cd playlist OL tag */
.face{
line-height: 20px;
padding-left: 50px;
padding-top: 25px;
}



/* appied to policies section */
.pmarg {
	padding-right: 75px;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: lightgrey;
	font-family: "verdana", Arial;
	font-size: 13px;
	line-height: 25px;

}

